<h1>Enter new Password</h1>



<form action="/api/user/reset-password" method="post">
    <input type="password" name="password" placeholder="Enter new password">
    <input type="submit" value="submit">
    <input type="hidden" name="token" value="<%= userData.token %>">
</form>